* {
    box-sizing: border-box;
}
i {
    background: linear-gradient(45deg,
    #405DE6,
    #5851DB,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D,
    #F56040,
    #F77737,
    #FCAF45,
    #FFDC80
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    margin-top: 40px;
    padding: 0 50px;
    height: 98%;
}

.happy {
    font-size: 30px;
    width: 500px;
    text-align: center;
}

.happy span {
    background: linear-gradient(45deg,
    #405DE6,
    #5851DB,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D,
    #F56040,
    #F77737,
    #FCAF45,
    #FFDC80
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    width: 70px;
}

.sing {
    width: 550px;
    padding-left: 50px;
    border-left: 1px solid gainsboro;
}

.sing h3 {
    padding-top: 80px;
}

.sing input {
    border-radius: 10px;
    border: 1px solid gainsboro;
    width: 80%;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.sing input::placeholder {
    font-style: oblique;
}

.sing input:hover {
    border: 1px solid black;
}

.sing button {
    width: 80%;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 25px;
    cursor: pointer;
}

.in {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
}

.forget {
    background-color: white;
    border: none;
    font-family: Georgia, serif;
}

.forget:hover {
    background-color: gainsboro;
}

.up_facebook {
    background-color: white;
    border: 1px solid gray;
    font-family: Georgia, serif;
    font-size: 15px;
    margin-top: 50px;
}

.up_facebook:hover {
    background-color: gainsboro;
}

.crate {
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-family: Georgia, serif;
}

.crate:hover {
    background-color: gainsboro;
}

.container {
    height: 88%;
}

.meta {
    padding-left: 33%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #737373;
}

li {
    color: #737373;
}

.another {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.another a:hover {
    text-decoration: underline;
}

select {
    border: none;
    color: #737373;
}

@media (max-width: 1024px) {
    .logo {
        padding: 0 30px;
    }

    .happy {
        width: 400px;
        font-size: 26px;
    }

    .sing {
        width: 450px;
        padding-left: 30px;
    }
}
@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .happy {
        width: 100%;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .sing {
        width: 100%;
        border-left: none;
        padding-left: 0;
        text-align: center;
    }

    .sing h3 {
        padding-top: 30px;
    }

    .sing input,
    .sing button {
        width: 100%;
    }

    .meta {
        padding-left: 0;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .happy {
        font-size: 20px;
    }

    .icon {
        width: 50px;
    }

    .up_facebook {
        margin-top: 30px;
    }
}
