body{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
}

.fb-root{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
.info{
    width: 550px;
}

.info h1{
    font-size: 70px;
    color: #1877f2;
    font-family: Helvetica, Arial, sans-serif;
}
.info p{
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
}
.sing{
    border: 1px solid black;
    border-radius: 5px;
    padding: 18px;
    width: 400px;
    background-color: white;
    text-align: center;
}
.sing input{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
.sing input::placeholder{
    text-align: center;
    font-size: 15px;
}
.sing input:focus{
    outline: none;
    border: 2px solid blue;
}
.sing button{
    border: none;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
}
.in{
    width: 100%;
    background-color: blue;
    height: 50px;
    margin-bottom: 15px;

}
.in:hover{
    background-color: #1877f2;
}
.forget{
    color: blue;
}
a:hover{
    text-decoration: underline;
}
.up{
    background-color: #42b72a;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}
.up:hover{
    background-color: #36a420;
}
.crate{
    width: 400px;
    text-align: center;
    color: black;
}
.crate a{
    color: black;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.menu a{
    color: gray;
}
.menu button{
    font-weight: bold;
    width: 30px;
    height: 20px;
}
ul {
    list-style-type: none;
}
.lan{
    flex-direction: column;
    width: 1300px;
    padding: 10px;
}
.footer{
    margin-top: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}
html, body {
    height: 100%;
    margin: 0;
}