.menu {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    background-color: aliceblue;
    align-items: center;
}

.lan {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-right: 10px;
}

.q {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
    font-size: 15px;
}

.expelled {
    display: flex;
    justify-content: space-around;
    width: 250px;
    align-items: center;
    background-color: yellow;
    padding: 10px 10px;
}

.days {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 95%;
    align-items: center;
    background-color: deepskyblue;
    gap: 30px;
    padding: 10px 10px;
}

.uwu {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 1px solid black;
    padding: 10px 10px;
    margin-top: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    width: 300px;

}

ul {
    list-style-type: none;
    padding: 0;;
}
li{
    margin-bottom: 8px;
}
.block a{
    text-decoration: none;
    color: gray;
}
.block a:hover{
    color:blue;
}
.sos{
    height: 230px;
}