.logo{
    background-color: black;
    color:white;
    text-align: center;
    width: 100%;
    height: 40px;
}
.logo p{
    padding-top: 10px;
}
html, body {
    margin: 0;
}
.txt{
    padding-left: 20%;
    font-size: x-large;
}
#form{
    display: flex;
    justify-content: center;
    gap:30px;
    margin: 30px;
}
.btn{
    width: 80px;
    border: none;
    background-color: deepskyblue;
    color: white;
    border-radius: 15px;
}
#newTask{
    width: 500px;
    height: 30px;
}
.info{
    border: 1px solid gray;
    width: 500px;
    height: 20px;
}
.uwu{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
}
.uwu button{
    height: 20px;
    border: 1px solid red;
    background-color: white;
    color: red;
    border-radius: 15px;
}
#list{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}
