.card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  background: white;
  height: 450px;
}

.main-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price {
  font-weight: bold;
}

.likes {
  color: red;
}
